<div class="dashboard">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo">
      🚗 AutoDiagnose Pro
    </div>

   <nav >
  <a class="active">🏠 Dashboard</a>
  <a>🛠 Interventions</a>
  <!-- <a routerLink="/modifierprofil">👤 Modifier profil</a> -->
  <a>📅 Rendez-vous</a>
  <a>💳 Factures</a>
  <div class="sidebar-bottom">
  <button class="logout-btn" (click)="logout()">
    🚪 Déconnexion
  </button>
</div>
</nav>

  <!-- <div class="user">
  <div class="avatar">
    {{ lastName ? lastName.charAt(0).toUpperCase() : 'C' }}
  </div>

  <div>
    <p>{{ firstName }} {{ lastName }}</p>
  </div>
</div> -->

    <!-- <button class="logout" (click)="logout()">Déconnexion</button> -->

  </aside>

  <!-- MAIN -->
  <main class="main">

 <div class="banner">

  <!-- ICON -->
  <div class="banner-ico">
    🚗
  </div>

  <!-- TEXT -->
  <div class="banner-text">
    <div class="banner-title">
  Bienvenue, {{ firstName }} {{ lastName || 'Client' }}
</div>
    <div class="banner-sub">
      Votre véhicule est suivi par {{ garageName }}
    </div>
  </div>
<div class="user-menu" (click)="toggleMenu()">

    <div class="avatar">
      {{ lastName ? lastName.charAt(0).toUpperCase() : 'C' }}
    </div>

    <span class="user-name">
      {{ firstName }} {{ lastName }}
    </span>

    <div class="dropdown" *ngIf="isMenuOpen">
      <div class="dropdown-item" (click)="goToProfile()">👤 Modifier profil</div>
      <div class="dropdown-item" (click)="goToPassword()">🔒 Mot de passe</div>
      <div class="dropdown-item logout-item" (click)="logout()">🚪 Déconnexion</div>
    </div>

  </div>
  <!-- TAG -->
  <div class="banner-tag">
    ⏳ Prochaine révision : {{ stats.joursAvantRevision }} jours
  </div>

</div>

    <!-- STATS -->
    <div class="stats">

      <div class="card blue">
        <h3>Interventions</h3>
        <p>{{ stats.totalInterventions }}</p>
      </div>

      <div class="card green">
        <h3>En cours</h3>
        <p>{{ stats.enCours }}</p>
      </div>

      <div class="card orange">
        <h3>Dépenses</h3>
        <p>{{ stats.totalDepense }} DT</p>
      </div>

    </div>

    <!-- INTERVENTIONS -->
    <div class="section">

      <h3>📌 Mes interventions</h3>

      <div class="item" *ngFor="let inv of interventions">

        <div>
          <h4>{{ inv.titre }}</h4>
          <small>{{ inv.meta }}</small>

          <div class="progress">
            <div class="bar" [style.width.%]="inv.progres"></div>
          </div>

          <small>{{ inv.progres }}%</small>
        </div>

        <span [class]="badgeClass(inv.statut)">
          {{ inv.statut }}
        </span>

      </div>

    </div>

  </main>

</div>